@font-face {
    font-family: Font;
    src: url(fonts/Big\ Pixel\ Shadow\ demo.otf);
}
@font-face {
    font-family: Small-Font;
    src: url(fonts/Big\ Pixel\ Light\ demo.otf);
}
@font-face {
    font-family: Medium-Font;
    src: url(fonts/Big\ Pixel\ Shadow\ demo.otf);
}

.box {
    display: block;
    max-width: 394px;
    margin: 200px auto 20px;
    padding: 30px 15px;
    background-image: url(Media/background.svg);
    border: 1px solid #cd4662;
    border-radius: 10px;
}
#input-city {
    font-family: Small-Font;
    letter-spacing: 1.5px;
    font-weight: 600;
    background-color: white;
    opacity: .75;
    border: 1px solid #FF6284;
}
#click-me {
font-family: Small-Font;
letter-spacing: 1.5px;
font-weight: 600;
background: white;
 opacity: .75;
 border: 1px solid #FF6284;
}
 .date {
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 650;
    font-family: Small-Font;
}
.city {
    font-family: Font;
    letter-spacing: 2.5px;
    font-size: 40px;
    color: white;
    text-align: center;
}
.icon-and-temperature {
    padding: 0;
    list-style: none;
    text-align: center;
}
.temperature {
    font-family: Medium-Font;
    color: white;
    font-size: 55px;
    margin-left: 141px;
   
}
#fahrenheit {
    margin-left: 55px;
}
.fahrenheit, .celsius {
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
   
}
.weather-like {
    font-family: Small-Font;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    color: white;
    font-weight: 650;
    text-align: center;
    font-size: 20px;
}
.card {
    opacity: .75;
    background: #FF6284;
}
.wind-information {
    font-family: Small-Font;
    letter-spacing: 2.5px;
    font-weight: 600;    
    font-size: 14px;
    color: white;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}