@font-face {
    font-family: Font;
    src: url(fonts/Big\ Pixel\ Shadow\ demo.otf);
}


.box {
    display: block;
    max-width: 460px;
    margin: 200px auto 20px;
    padding: 30px 15px;
    background-image: url(Media/3.gif);
    border: 1px solid #cd4662;
    border-radius: 10px;
}

 .date {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Font;
}
.city {
    font-family: Font;
    font-size: 55px;
    color: white;
    text-align: center;
}
.icons {
    color: white;
}
.icon-and-temperature {
    padding: 0;
    list-style: none;
    text-align: center;
}
.main-icon {
    margin-top: 5px;
}
.temperature {
    font-family: Font;
    color: white;
    font-size: 55px;
    margin-left: 12px;
}
.fahrenheit, .celsius {
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}
.weather-like {
    font-family: Font;
    color: white;
    text-align: center;
    font-size: 15px;
}
.forcast-list {
    color: white;
    padding: 0;
    list-style: none;
    margin-left: 20px;
}
.forcast-temperatures {
    position: relative;
    right: 6px;
}

.wind-information {
    font-family: Font;
    font-size: 12px;
    color: white;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}